.logo {
  font-family: var(--secondary-font-family);
  font-weight: var(--primary-text-size);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--rare-color);
  margin-right: 93px;
}
.logo__web {
  font-family: var(--secondary-font-family);
  font-weight: var(--primary-text-size);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
