:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --additional-color: #ffffff;
  --background-color-hero-footer: #2f303a;
  --rare-color: #000000;
  --primary-text-size: 700;
  --secondary-text-size: 500;
  --solid: #ececec;
  --primary-icon-solid-color: #afb1b8;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
